<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
</style>
</head>
<body>

<body bgcolor="#E6E6FA">

{% load staticfiles %}

<div class="row">
  <div class="column">
    <img src="{% static "Dashboard/chipotle.jpg" %}" alt="Snow" style="width:20%">
  </div>

<p id="demo"></p>

<p><b>Estimated Wait Time: </b> {{ x }}

</body>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

.html {width: 60%; background-color: #E3E323;}

</style>
</head>
<body>

<h1>Restaurant Occupancy Details</h1>

<div class="container">
  <div class="skills html">60%</div>
</div>
<br>
<br>
<br>
<br>

{% load staticfiles %}

<img src="{% static "Dashboard/wendysfloorplan.jpg" %}" alt="Flowers in Chania" width="460" height="345">


</body>
</html>
